/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

#logoImg {
  width: 50px;
  margin-top: 5px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.userContent {
  min-height: 380px;
  line-height: 0;
  height: auto;
  background-color: lightblue;
  width: 100%;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
  color: slategray;
}

.material-icons:hover {
  color: turquoise;
}

footer.page-footer {
  margin: 0;
  text-align: center;
}

#quote {
  font-size: 60px;
  color: gold;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

h1 {
  font-weight: bold;
  text-shadow: 2px 2px darkslategray;
}

.skyscanner-widget {
  padding: 30px;
  border-radius: 10px;
  border: 2px solid slategray;
  background-color: white;
  width: 300px;
}

#testimonials {
  background-color: whitesmoke;
}

#userInfo {
  width: 700px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  padding: 15px;
  background-image: linear-gradient(turquoise, white);
}

.input-field {
  background-color: white;
  border-radius: 10px;
}

#welcome {
  color: black;
  font-weight: bolder;
  font-size: 20px;
}

#userContent {
  box-sizing: border-box;
  border: 2px solid turquoise;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  background-image: linear-gradient(rgb(141, 233, 224), white);
  table-layout: fixed;
}

#map {
  height: 400px;
  width: 100%;
  background-color: gray;
  border: 2px solid slategray;
}

#flights {
  box-sizing: border-box;
  width: 400px;
  border-radius: 10px;
}

#language,
#passport,
#globalEntry {
  box-sizing: border-box;
  width: 300px;
  border-radius: 5px;
  border-radius: 10px;
  align-content: center;
}

.nextSteps {
  align-content: center;
}

label {
  font-size: 15px;
  color: black;
}

#icons {
  text-align: right;
  line-height: 28px;
}

#labels {
  text-align: left;
  line-height: 31.5px;
  font-style: bold;
}

#data {
  text-align: left;
  line-height: 31.5px;
}